{% extends "main/layout.html" %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content mb-5">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card rounded shadow-lg">
              <div class="card-body">
            
               <h5 align="center" class="text-uppercase text-bold">  Ministério do Desenvolvimento Rural e Habitação Comunitária</h5>
                <hr>
                <h4 align="center">SISTEMA MANAJEMENTO ASSETS</h4>
                <hr>
                <center>
                  <img src="{% static 'Image/MDHRC.png'%}" height="50%">
                              </div>
                </center>
                <hr>
                <h3 align="center"><a href="https://mdrhc.gov.tl/en/">BEMVINDO</a></h3> 
                <br>
                <br>
                <hr>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock %}