  {% load static %}
        <ul class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview" role="menu" data-accordion="false">

  <!-- DASHBOARD -->
  <li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link {% if homeActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-home"></i>
      <p>Inísiu</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'list-gab' %}" class="nav-link {% if dashActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-list"></i>
      <p>Equipameto</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="" class="nav-link {% if dashActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-list"></i>
      <p>Relatoriu</p>
    </a>
  </li>
</ul>
     
