  {% load static %}
        <ul class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview" role="menu" data-accordion="false">

  <!-- DASHBOARD -->
  <li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link {% if homeActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-home"></i>
      <p>Inísiu</p>
    </a>
  </li>
    <li class="nav-item">
    <a href="{% url 'r-list' %}" class="nav-link {% if RirActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-clipboard-list"></i>
      <p>Rir</p>
    </a>
  </li>
  <!-- MASTER DATA -->
     <li class="nav-item">
    <a href="{% url 'dist-dash' %}" class="nav-link {% if distActive %} active {% else %}{% endif %}">
      <i class="nav-icon fas fa-truck-loading"></i>
      <p>Distribuisaun</p>
    </a>
  </li>
  <!-- INVENTORY -->
     <li class="nav-item">
    <a href="{% url 'dist-mon' %}" class="nav-link ">
      <i class="nav-icon fas fa-boxes"></i>
      <p>Inventorio</p>
    </a>
  </li>
</ul>
     
